# =========================
# Gradle
# =========================
.gradle/
build/
gradle/
gradlew
gradlew.bat

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# VS Code
.vscode/

# =========================
# Kotlin / Logs
# =========================
.kotlin
*.log

# =========================
# Outros arquivos desnecessários
# =========================
.DS_Store
